body {
    background-color: #dedede;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
}

p {
    font-size: 25px;
}

.left-align {
    text-align: left;
    margin: 0 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

div {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}


@media (min-width: 772px) {
    div {
        width: 45%;
    }
    
    img {
        max-height: 30vh;
        width: auto;
    }
}


@media (min-width: 998px) {
    div {
        width: 30%;
    }
}
